/* ESTILOS PESTAÑA DE HOME */
body{
  z-index: 0;
}
header{
  height: 11vh;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  position: fixed;
  z-index: 50;
}
header nav{
  height: 100%;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: white;
}
header nav ul{
  margin-top:6px;
  padding: 0px;
  height: 100%;
}
header nav ul li{
  display: inline-block;
  text-decoration: none;
  margin-right: 7%;
  text-align: center;
}
div.hamburguesa{
  display: none;
}
header nav ul#segundo_ul{
  width: 90%;
  display: inline-block;
  position: absolute;
  left:25%;
  text-decoration: none;
}
header nav ul#segundo_ul a{
  color: white;
  }
img.logo{
  width: 30%;
  margin-left: 65%;
  margin-bottom: 10px;
  margin-top: 60px;
  z-index: 45;
}
div.bd-example{
  display: none;
}
.container-fluid{
  z-index: 20;
  width: 100%;
}
div.contenedor_de_fotos{
  margin-bottom: 70px;
}
img.fondo{
  z-index: 40;
}
h5{
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 27px;
}
p.descripcion{
  width: 50%;
  margin-left: 25%;
  margin-bottom: 10px;
  font-size: 11px;
}
div.ver_mas{
  background-color: rgba(235, 0, 0, 0.8);
  margin-left: 25%;
  width: 50%;
  border-radius: 2px;
}
div.ver_mas p {
  text-align: center;
  font-weight: bold;
}
img.fotos{
  width: 80%;
  margin-left: 10%;
  margin-bottom: 20px;
  box-shadow: 2px 2px 10px #666;
}
footer{
  height: 200px;
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  }
footer nav{
  font-size: 15px;
  text-align: center;
  color: black;
}
div.redes{
  width: 20%;
  display: inline-block;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
}
div.redes img{
  width: 100%;
}

div.p{
  margin-top: 30px;
}

footer nav div.preguntas{
  position: absolute;
  bottom: 0px;
  background-color: black;
  width: 100%;
}
h6{
  color: white;
  height: 100%;
  margin-bottom: 3px;
}
div p {
  border-bottom: solid gray 1px;
}

/*


ESTILOS PESTAÑA DE REGISTRO


*/

div.container{
  width: 90%;
  margin-bottom: 80px;
}
div.formularios{
  width: 90%;
  height: 50px;
  border: solid gray 1px;
  border-radius: 5px;
  margin-left: 5%;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
}
div.container form input{
  position: absolute;
  bottom: 0px;
  left: 1%;
  width: 95%;
  font-size: 15px;
  border: none;
}
div.formularios label.nombre_formularios{
  left: 1%;
  top: 3px;
  font-size: 10px;
  font-weight: bolder;
  position: absolute;
}
input#boton_enviar, #boton_ingresar{
  width: 40%;
  height: 50px;
  border: solid gray 1px;
  border-radius: 5px;
  margin-left: 30%;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
}
footer{
  margin-top: 10px;
}



/*


ESTILOS PESTAÑA DE PRODUCTOS


*/

article{
  height: 500px;
  width: 70%;
}
article.producto{
  margin: 0px;
  width: 100%;
}
div.imagen{
  position: relative;
}
article.producto img#muestra{
  width: 100%;
  height: 80%;
  z-index: 10;
}
article.producto div.imagen img#carrito{
  z-index: 15;
  width: 30%;
  height: 30%;
  position: absolute;
  right: 0px;
  top: 0px;
}

/*

ESTILOS PESTAÑA DE FAQ

*/

h3{
  text-align: center;
}




/*

RESPONSIVE MEDIA QUERIES


*/

@media (min-width:500px) {
  /* HOME */
  img.logo{
    width: 20%;
    z-index: 45;
  }
  div.contenedor_de_fotos{
    width: 50%;
  }
  div.ver_mas{
    width: 50%;
    margin-left: 25%;
  }
  footer nav div.redes{
    width: 10%;
  }
  /* REGISTRO */
  div.container{
    width: 70%;
    margin-bottom: 80px;
  }
  input#boton_enviar{
    width: 30%;
    margin-left: 35%;
  }


@media (min-width:1024px) {
  div.container-fluid{
    display: none;
  }
  div.bd-example{
    display: block;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 30px;;
  }
  header nav ul#segundo_ul{
    left: 40%;
  }
  img.logo{
    margin-top: 80px;
    margin-left: 40%;
  }
  footer nav div.redes{
    width: 8%;
  }
  footer nav div.p{
    bottom: 30px;
  }
}

@media (min-width:1440px) {

  /* HOME */
  footer nav div.p{
    bottom: 0px;
  }
  div.bd-example{
    margin-bottom: 70px;
  }
  footer nav div.redes{
    width: 6%;
    margin-top: 0px;
  }
  footer nav div.p{
    font-size: 25px;
    bottom: 0px;
  }
}
