body{
  background-image: url("fondo.jpg");
  z-index: 0;
}

img.logo{
  margin-left: 150px;
  width: 70%;
  margin-bottom: 40px;
}
.container-fluid{
  z-index: 20;
  width: 100%;
}
img.fotos{
  width: 80%;
  height: 600px;
  margin-bottom: 70px;
  margin-left: 105px;
  border-radius: 25px;
  border-style: ridge;
  border-color: rgb(227, 40, 0, 1);
  border-width: 15px;
}
